# General
.DS_Store
Thumbs.db
.github/workflows/

# Python / Django

venv/
env/
.env
db.sqlite3
*.log

# Node / Frontend
node_modules/
build/
dist/
.npm
.eslintcache

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml
