# General
.DS_Store
Thumbs.db

# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
*.log

# Node / Frontend
node_modules/
build/
dist/
.npm
.eslintcache

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml
